.app {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px;
  background-color: #103D3F;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  transition: width 0.3s ease;
  
}

.sidebar.closed {
  width: 60px; /* Adjust to make the sidebar smaller when closed */
}

.toggle-button {
  position: absolute;
  top: 20px;
  right: 0; /* Aligns the button with the right edge of the sidebar */
  width: 20px;
  height: 40px; /* Adjust height if needed */
  background-color: #FF5F5F;
  color: white;
  text-align: center;
  line-height: 40px; /* Adjust line-height to vertically center text */
  border-radius: 0 5px 5px 0; /* Rounded corners on the right side */
  cursor: pointer;
  transition: all 0.3s ease;
}

.logo-container {
  padding: 20px;
  text-align: center;
}

.logo {
  width: 100px;
}

.nav {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  padding: 15px 20px;
  cursor: pointer;
  transition: padding 0.3s ease;
}

.sidebar.closed .nav-item {
  padding: 15px 5px;
  text-align: center; /* Center the text when the sidebar is closed */
}

.nav-item.active,
.nav-item:hover {
  background-color: #FF5F5F;
  border-radius: 25px 0 0 25px;
}

.nav-footer {
  margin-bottom: 20px;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  background-color: #F4F4F4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.welcome-text {
  font-size: 1.2rem;
}

.user-profile {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

.icon {
  width: 24px;
  margin-right: 10px;
}

.user-photo {
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-name {
  font-weight: bold;
}

.content {
  margin-top: 20px;
}

.buttons {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.btn {
  padding: 15px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  max-width: 200px;
  font-size: 1rem;
}

.btn.red {
  background-color: #FF5F5F;
}

.btn.pink {
  background-color: #FF6969;
}

footer {
  margin-top: 20px;
  text-align: right;
  font-style: italic;
}
